$button-width: 30px;
$button-margin-width: 5px;

.concepts-hierarchy-bulk-actions {
  text-align: right;
}

.concept-hierarchy-navigation {
  border: 1px solid #CCC;
  background: #EEE;
  margin: 0;
  padding: $grid-gutter-width/2; 
}

.concept-hierarchy-navigation-parent-concepts {
  margin-bottom: $grid-gutter-width;
}

.concept-hierarchy-navigation-child-concepts {
  margin-top: $grid-gutter-width;
}

.concept-hierarchy-navigation-title {
  margin: 0 0 5px 0;
}


.concepts-hierarchy-concept {
  margin-left: $grid-gutter-width/2;
  font-weight: $font-weight-normal;
  font-family: $font-family-serif;
}
.concepts-hierarcy-concept-apex-concept {
  margin-left: 0;
  font-weight: $font-weight-bold;
  font-family: $font-family-sans-serif;
}

.concepts-hierarchy-list {
  padding-left: 0;
  margin-left: -1 * $button-margin-width;
}

.current-concept {
  font-weight: $font-weight-bold;
}

.current-concept-indicator {
  font-weight: $font-weight-normal;
  color: #999;
  font-style: italic;
}

.concepts-hierarchy-concept {
  list-style: none;
  padding-left: $button-width;
  margin-left: 5px;
  &.has-children {
    padding-left: 0;
  }
  &.children-shown, &.children-hidden {
    .concepts-hierarchy-concept-toggle-children {
      display: inline-block;
    }
  }
  &.children-shown > {
    .concepts-hierarchy-concept-name {
      font-weight: $font-weight-bold;
      &:after {
        content: ":";
      }
    }
  }
}

.concepts-hierarchy-concept-toggle-children {
  display: none;
  margin-right: $button-margin-width;
  width: $button-width - $button-margin-width;
  .children-hidden > & > {
    .icon-minus {
      display: none;
    }
  }
  .children-shown > & > {
    .icon-plus {
      display: none;
    }
  }
}

$concepts-list-border-width: $grid-gutter-width / 2;
$concepts-list-border-color: #EEE;
.concepts-list {
    margin-bottom: $concepts-list-border-width;
    border-left: $concepts-list-border-width solid $concepts-list-border-color;
    padding: 0;
    margin-left: $grid-gutter-width;
    border-bottom-left-radius: $concepts-list-border-width;
    border-bottom: 2px solid $concepts-list-border-color;
    border-top: 2px solid $concepts-list-border-color;
}
