.related-concepts-title  {
  margin-top: 0;
  margin-bottom: $grid-gutter-width / 2;
  small {
    display: block;
  }
}

.related-concepts-back-to-map {
  margin-bottom: $grid-gutter-width / 2;
  display: inline-block;
}

